[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=5.0"

[packages]
boto3 = "~=1.24"
Flask = "~=2.3"
redis = "~=4.5"
flask-bcrypt = "~=1.0"

[requires]
python_version = "3.8"
