[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
boto3 = "*"
Flask = "*"
redis = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.8"
