[Unit]
Description=Chiptune track sharing network
Requires=nginx.service
Requires=redis.service
After=network.target

[Service]
User=lsdj-cloud

# pwd of server should be one with no secrets
WorkingDirectory=/var/lib/lsdj-cloud
Environment=PIPENV_PIPFILE=/usr/local/lib/lsdj-cloud/Pipfile
Environment=PIPENV_DOTENV_LOCATION=/etc/lsdj-cloud.conf
ExecStart=/usr/bin/pipenv run /usr/local/lib/lsdj-cloud/lsdj-cloud
Restart=always
RestartDelay=10s

[Install]
WantedBy=multi-user.target
