:root {
  --flash-font-size: 16px;
  --flash-vertical-padding: 8px;
  --content-margin: 16px;
  --content-padding: 32px;
  --max-content-width: 650px;
  --diagonal-colors: linear-gradient(
    45deg,
    #c4e17f      20%,
    #f7fdca 20%  40%,
    #fad071 40%  60%,
    #f0766b 60%  80%,
    #db9dbe 80%
  );
  --horizontal-colors: linear-gradient(
    to right,
    #c4e17f      20%,
    #f7fdca 20%  40%,
    #fad071 40%  60%,
    #f0766b 60%  80%,
    #db9dbe 80%
  );
}

@media only screen and (min-width: 550px) {
  p, li {
    text-align: justify;
  }
}

* {
  box-sizing: border-box;
  color: white;
  font-family: "Droid Sans", "Noto Sans", sans-serif;
}

body {
  background: linear-gradient(
    to right,
    hsla(0, 0%, 0%, 0.69) calc(50% - 1000px),
    hsla(0, 0%, 0%, 0.68225) calc(50% - 924px),
    hsla(0, 0%, 0%, 0.66035) calc(50% - 854px),
    hsla(0, 0%, 0%, 0.62632) calc(50% - 788px),
    hsla(0, 0%, 0%, 0.58219) calc(50% - 726px),
    hsla(0, 0%, 0%, 0.52997) calc(50% - 667px),
    hsla(0, 0%, 0%, 0.47168) calc(50% - 610px),
    hsla(0, 0%, 0%, 0.40935) calc(50% - 555px),
    hsla(0, 0%, 0%, 0.345) calc(50% - 500px),
    hsla(0, 0%, 0%, 0.28065) calc(50% - 445px),
    hsla(0, 0%, 0%, 0.21832) calc(50% - 390px),
    hsla(0, 0%, 0%, 0.16003) calc(50% - 333px),
    hsla(0, 0%, 0%, 0.10781) calc(50% - 274px),
    hsla(0, 0%, 0%, 0.06368) calc(50% - 212px),
    hsla(0, 0%, 0%, 0.02965) calc(50% - 146px),
    hsla(0, 0%, 0%, 0.00775) calc(50% - 76px),
    transparent 50%,
    hsla(0, 0%, 0%, 0.00775) calc(50% + 76px),
    hsla(0, 0%, 0%, 0.02965) calc(50% + 146px),
    hsla(0, 0%, 0%, 0.06368) calc(50% + 212px),
    hsla(0, 0%, 0%, 0.10781) calc(50% + 274px),
    hsla(0, 0%, 0%, 0.16003) calc(50% + 333px),
    hsla(0, 0%, 0%, 0.21832) calc(50% + 390px),
    hsla(0, 0%, 0%, 0.28065) calc(50% + 445px),
    hsla(0, 0%, 0%, 0.345) calc(50% + 500px),
    hsla(0, 0%, 0%, 0.40935) calc(50% + 555px),
    hsla(0, 0%, 0%, 0.47168) calc(50% + 610px),
    hsla(0, 0%, 0%, 0.52997) calc(50% + 667px),
    hsla(0, 0%, 0%, 0.58219) calc(50% + 726px),
    hsla(0, 0%, 0%, 0.62632) calc(50% + 788px),
    hsla(0, 0%, 0%, 0.66035) calc(50% + 854px),
    hsla(0, 0%, 0%, 0.68225) calc(50% + 924px),
    hsla(0, 0%, 0%, 0.69) calc(50% + 1000px)
  ), var(--diagonal-colors);
  margin: 0;
  padding: var(--content-margin) var(--content-margin) 0;
}

.container {
  background: linear-gradient(
    rgba(32, 32, 32, 0.95),
    92%,
    rgba(64, 64, 64, 0.7)
  );
  max-width: 650px;
  margin: 0 auto;
  min-height: calc(100vh - var(--content-margin))
} .container, ul.flash li {
  border-radius: 10px 10px 0 0;
}

.content {
  padding: calc(var(--content-padding) - var(--flash-vertical-padding)) var(--content-padding) 0;
}

header {
  margin-bottom: 1.5em;
}

h1 {
  margin: 0;
}

header h1, header h1 * {
  text-decoration: none;
}

header h1, header h1 *, a.invitation {
  font-family: "Droid Sans Mono", "Linux Libertine Mono", monospace;
}

h2 {
  margin: 1em 0 0;
}

ul, ol {
  margin: 0;
} ul li, ol li {
  margin: 0.5em 0;
}

/* destyled ul elements for semantics and accessibility */
ul.bare {
  list-style: none;
  display: inline-block;
  padding: 0;
} ul.bare, ul.bare li {
  margin: 0;
}

/* losenges */
button, input, label {
  border: 3px solid transparent;
  font-size: 1em;
  line-height: 1em;
  border-radius: 8px;
  padding: 0.6em 1em;
}

button, label {
  color: black;
  background-color: white;
}

input, input:invalid {
  border-color: rgb(255, 255, 255, 0.2);
  background-color: rgb(0, 0, 0, 0.2);
  transition-property: border-color, background-color;
  transition-duration: 300ms;
} input:focus, input:active {
  border-color: white;
} input:valid {
  border-color: #c4e17f80;
} input:valid:focus, input:valid:active, input:valid[hidden] + input[disabled] {
  border-color: #c4e17f;
} input:invalid[hidden] + input[disabled] {
  color: transparent;
}

form:invalid button:last-child {
  display: none;
}

/* inputs and labels should look good together */
/* TODO: bring back some color */
form {
  display: grid;
  grid-template-columns: [label] auto [input] 1fr;
  grid-gap: 0.5em 0;
  justify-content: center;
  justify-items: center;
  margin: 1em 0;
} form input {
  width: 100%;
  border-left-width: 0;
  justify-self: left;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
} form label, form a {
  justify-self: right;
  min-width: 13ch;
  text-align: center;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
} form button {
  grid-column: span 2;
}

ul.horizontal li {
  float: left;
} ul.horizontal li {
  padding: 0 0.5em;
  border-left: 1px solid white;
} ul.horizontal li:first-child {
  padding-left: 0;
  border-left: none;
} ul.horizontal li:last-child {
  padding-right: 0;
}


/* Flask.flash messages */
ul.flash {
  width: 100%;
  font-size: var(--flash-font-size);
  min-height: var(--flash-vertical-padding);
  font-weight: bold;
  line-height: var(--flash-font-size);
  display: block;
} ul.flash li {
  text-align: center;
  padding: var(--flash-vertical-padding) var(--content-padding);
  background-color: rgba(63, 127, 255, 0.8);
}

.strong {
  font-weight: bold;
}

a:not(.bare):hover {
  background: var(--horizontal-colors) text;
  color: transparent;
  border-bottom: 1px solid white;
}

a.delete {
  color: tomato;
}

button.delete {
  background: tomato;
} button.delete:hover {
  background: black;
  color: tomato;
}

footer {
  text-align: center;
  display: block;
  max-width: 90%;
  margin: 2em auto 0;
  padding: 1em 0 0;
  border-top: 1px solid rgb(255, 255, 255, 0.2);
  color: rgb(255, 255, 255, 0.3);
  font-size: 75%;
}
