<h2>Features</h2>

<ul>
  <li>Version control for your tracks</li>
  <li>Revert songs back to old versions</li>
  <li>Serverless</li>
  <li>JS not required</li>
  <li>
    <del>
      Assemble playlists for quick SRAM download of the latest versions of the
      tracks in an album or performance set.
    </del>
    (soon)
  </li>
  <li><del>Handle LSDj compatibility</del> (later)</li>
  <li><del>Create audio previews</del> (later)</li>
  <li>Forever <a href="https://github.com/qguv/lsdj-cloud">open source</a></li>
</ul>
