{% extends 'base.html' %}
{% block title %}Log in{% endblock title %}
{% block content %}

<form action="{{ url_for('login') }}" method="POST" enctype="multipart/form-data">

  <label for="username">Username</label>
  <input id="username" name="username">

  <label for="password">Password</label>
  <input id="password" name="password" type="password">

  {#- DEBUG #}
  <label>X</label>
  <input>

  {#- DEBUG #}
  <label>Xxxxxxxxxx</label>
  <input>

  <button>Submit</button>

</form>
{% endblock content %}
