{% extends 'base.html' %}
{% block title %}Long page{% endblock title %}
{% block content %}

<p>
  Er, Mr. Garak, after having spent a week with you, I have developed a very,
  very thick skin. If you're trying to impress me, you can forget it. ARE YOU
  QUESTIONING--THE VALIDITY--OF MY PLAN?!?
</p>

<p>
  I'm not Picard. Go over my head again, and I'll have yours on a platter.
  There's enough poison in this bottle to kill twenty Cardassians.
</p>

<p>
  Er, Mr. Garak, after having spent a week with you, I have developed a very,
  very thick skin. If you're trying to impress me, you can forget it. ARE YOU
  QUESTIONING--THE VALIDITY--OF MY PLAN?!?
</p>

<p>
  I'm not Picard. Go over my head again, and I'll have yours on a platter.
  There's enough poison in this bottle to kill twenty Cardassians.
</p>

<p>
  Er, Mr. Garak, after having spent a week with you, I have developed a very,
  very thick skin. If you're trying to impress me, you can forget it. ARE YOU
  QUESTIONING--THE VALIDITY--OF MY PLAN?!?
</p>

<p>
  I'm not Picard. Go over my head again, and I'll have yours on a platter.
  There's enough poison in this bottle to kill twenty Cardassians.
</p>

<p>
  Er, Mr. Garak, after having spent a week with you, I have developed a very,
  very thick skin. If you're trying to impress me, you can forget it. ARE YOU
  QUESTIONING--THE VALIDITY--OF MY PLAN?!?
</p>

<p>
  I'm not Picard. Go over my head again, and I'll have yours on a platter.
  There's enough poison in this bottle to kill twenty Cardassians.
</p>

<p>
  Er, Mr. Garak, after having spent a week with you, I have developed a very,
  very thick skin. If you're trying to impress me, you can forget it. ARE YOU
  QUESTIONING--THE VALIDITY--OF MY PLAN?!?
</p>

<p>
  I'm not Picard. Go over my head again, and I'll have yours on a platter.
  There's enough poison in this bottle to kill twenty Cardassians.
</p>

<p>
  Er, Mr. Garak, after having spent a week with you, I have developed a very,
  very thick skin. If you're trying to impress me, you can forget it. ARE YOU
  QUESTIONING--THE VALIDITY--OF MY PLAN?!?
</p>

<p>
  I'm not Picard. Go over my head again, and I'll have yours on a platter.
  There's enough poison in this bottle to kill twenty Cardassians.
</p>

<p>
  Er, Mr. Garak, after having spent a week with you, I have developed a very,
  very thick skin. If you're trying to impress me, you can forget it. ARE YOU
  QUESTIONING--THE VALIDITY--OF MY PLAN?!?
</p>

<p>
  I'm not Picard. Go over my head again, and I'll have yours on a platter.
  There's enough poison in this bottle to kill twenty Cardassians.
</p>
{% endblock content %}
