{% extends 'base.html' %}
{% block title %}Invite codes{% endblock title %}
{% block content %}

<p>
  Invite links let you invite your friends to this site! Each invitation
  lasts a week and can be used only once. You can make a new one each day.
</p>

<ul>
  {%- for id, ttl in invitations %}
    <li>
      <a class="invitation{% if new and new == id %} strong{% endif %}" href="{{ url_for('signup', rid=id) }}">{{ id }}</a>
      (expires in <span class="timedelta" data-seconds="{{ ttl.total_seconds() }}">{{ ttl }}</span>)
      <a class="delete" href="{{ url_for('referral_delete', name=id) }}">delete?</a>
    </li>
  {%- endfor %}
</ul>

{%- if cooldown -%}
<p>
  Time remaining until you can generate another invite link:
  <span class="timedelta" data-seconds="{{ cooldown.total_seconds() }}">{{ cooldown }}</span>.
</p>
{%- else %}
<form action="{{ url_for('referrals') }}" method="POST" enctype="multipart/form-data">
  <button>Create new referral</button>
</form>
{%- endif %}

{%- if invitations or cooldown %}
<script src="{{ url_for('static', filename='timedelta.js') }}"></script>
{%- endif %}

{% endblock content %}
