{% extends 'base.html' %}
{% block title %}Welcome{% endblock title %}
{% block content %}

<p>
  Welcome to this instance of LSDj Cloud. Here you can store and organize your
  LSDj tracks. After uploading an SRAM dump from your Game Boy flash cartridge,
  each LSDj track is extracted and stored in version control.
</p>

<h2>Features</h2>

<ul>
  <li>
    Version control for your tracks
  </li>
  <li>
    Assemble playlists for quick SRAM download of the latest versions of the
    tracks in an album or performance set.
  </li>
  <li>
    Revert songs back to old versions
  </li>
  <li>
    Create audio previews
  </li>
  <li>
    Handle LSDj compatibility
  </li>
  <li>
    Forever <a href="https://github.com/qguv/lsdj-cloud">open source</a>
  </li>
</ul>

<a href="{{ url_for('logout' if auth.is_authenticated() else 'login') }}">
  <button>
    {{ 'Log out' if auth.is_authenticated() else 'Log in' }}
  </button>
</a>

{% endblock content %}
