{% extends 'base.html' %}
{% block title %}{{ '' if sram_filenames else 'No ' }}SRAM files{% endblock title %}
{% block content %}

<p>Here, you can upload a new SRAM file or view past SRAM uploads.</p>

<ol>
  {%- for file in files %}
  <li>
    <a href="{{ url_for('get_sram', filename=file) }}">
      {{ file }}
    </a>
  </li>
  {%- endfor %}
</ol>

In use: {{ megabytes }}&nbsp;MB

<form method="POST" enctype="multipart/form-data">

  <label for="sram">Choose SRAM file</label>
  <input id="sram" name="sram" type="file" hidden>
  <input disabled>

  <button>Submit &rarr;</button>

</form>
{% endblock content %}
