{% extends 'base.html' %}
{% block title %}{{ '' if sram_filenames else 'No ' }}SRAM files{% endblock title %}
{% block content %}

<p>Here, you can upload a new SRAM file or view past SRAM uploads.</p>

<ol>
  {%- for name, sram in srams %}
  <li>
    <a href="{{ url_for('sram_download', name=name) }}">{{ name }}</a>
    ({{ sram.size | as_bytes }})
  </li>
  {%- endfor %}
</ol>

{%- if total_size %}
<p>In use: {{ total_size | as_bytes }}</p>
{%- endif %}

<form action="{{ url_for('sram_upload') }}" method="POST" enctype="multipart/form-data">

  {%- if g.is_authenticated() %}
  <label for="sram">Upload SRAM file</label>
  {%- else %}
  <a class="bare" href="{{ url_for('login', r='/'+request.path) }}"><label>Upload SRAM file</label></a>
  {%- endif %}

  <input hidden aria-hidden="false" id="sram" name="sram" type="file" onchange="form.submit()" required>
  <input value="...OK" disabled>

  <button>Upload</button>

</form>
{% endblock content %}
