{% extends 'base.html' %}
{% block title %}{{ '' if sram_filenames else 'No ' }}SRAM files{% endblock title %}
{% block content %}

<h2>{{ '' if sram_filenames else 'No ' }}SRAM files</h2>
<ol>
{% for sram_filename in sram_filenames %}
  <li>
    <a href="{{ url_for('get_sram', filename=sram_filename) }}">
      {{ sram_filename }}
    </a>
  </li>
{% endfor %}
</ol>

<form method="POST" enctype="multipart/form-data">
  <div class="field">
    <label for="sram">New SRAM file</label>
    <input id="sram" name="sram" type="file">
  </div>

  <br />

  <input type="submit" value="Upload">
</form>

{% endblock content %}
