{% extends 'base.html' %}
{% block title %}Tracks{% endblock title %}
{% block content %}

<p>
  Here, you can view your LSDj tracks that were extracted when you uploaded
  your SRAM files.
</p>

<ol>
  {%- for name, track in tracks %}
  <li>
    <a href="{{ url_for('track', name=name) }}">{{ name }}</a>
    {#- TODO display: (inline-)grid; #}
    {%- if track.versions | length == 1 %}
    (version {{ track.versions | first }}, {{ track.size | as_bytes }})
    {%- else %}
    ({{ track.versions | length }} versions, {{ track.size | as_bytes }} total)
    {%- endif %}
  </li>
  {%- endfor %}
</ol>

{%- if total_size %}
In use: {{ total_size | as_bytes }}
{%- endif %}
{% endblock %}
